
<% if @cart.product_list.empty? %>
    <p><%= link_to "Make a map", new_map_path %></p>
<% else %>
  <p>Total: <%= number_to_currency(@cart.total_price) %></p>
  <%= form_tag charges_path do %>
  <%= hidden_field_tag "cost", @cart.total_price %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @cart.total_price.to_s %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-description="A month's subscription" data-amount="<%= @cart.total_price * 100 %>" data-locale="auto"></script>

  <% end %>
  <%= button_to "Checkout", orders_path(user_id: current_user.id, products: @cart.product_list), method: :post %>
<% end %>
