<% if @current_map %>
  <img src="<%= @current_map['static_url'] %>" alt="">
  <%= form_tag charges_path do %>
  <%= hidden_field_tag "cost", @order.total %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @order.total.to_s %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-description="A month's subscription" data-amount="<%= @order.total * 100 %>" data-locale="auto"></script>

<% end %>
<% else %>
<h2>You've got to pick a map first!</h2>
<% end %>

<h2>Flag Overlay</h2>
<div>
  <img class="flag-image" src="/assets/Colorado-Flag.jpg" alt="">
</div>
